/* Leonardo Takeshiro Souza Toyama 3D 22/09/2024 */

body{ /* Estilizando o corpo da página */
    background-color: #CC0000;
    color: #C7A008; 
    font-family: "Pixelify Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 700px;             
    margin: 0;                     
}

button { /* estilizando os bottões da página */ 
    background-color: #3466AF;
    color: #C7A008;
    font-family: "Pixelify Sans", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}

.main {
    text-align: center;
    max-width: 90%;
    max-height: 90%;
}

.img {
    display: flex;
    max-height: 100px;
    max-width: 90%;
}
